


.footer-title {
    font-size: 2em;
}

a {
    text-decoration: none;
}

.store-badge{
    width: 10em;
}

.yourone-sample{
    width: 30em;
}
.nav {
    background-color: #7537B3;
}
.logo {
    font-size: 1.3em;
}
.link{
    font-size: 1.1em;
}